@page "{link}"
@model InterrogateMe.Web.Pages.ResultModel

@section Header{
    <facebook-meta description="Ask Now! @Model.Title - Interrogate.me is the best place to create a question and answer poll. Enter title of the poll, share the link, and view incoming question in real-time for free."
                   url="https://www.interrogate.me/@Model.Link"
                   image-url="https://www.interrogate.me/images/magnify_400x400.png"
                   title="@Model.Title"
                   type="website"
                   site-name="Interrogate.me"></facebook-meta>
    <twitter-meta card="summary"
                  creator="InterrogateMe_"
                  description="Ask Now! @Model.Title - Interrogate.me is the best place to create a question and answer poll. Enter title of the poll, share the link, and view incoming question in real-time for free."
                  title="@Model.Title"
                  site="InterrogateMe_"
                  image-url="https://www.interrogate.me/images/magnify_400x400.png"></twitter-meta>
    <google-ad-sense ad-client="ca-pub-3213478567330372"></google-ad-sense>
}

<div class="content">
    <div class="container bound">
        <div class="sub-container">
            <h2 class="mainHeader">Result</h2>
            <div>
                <a href="/@Model.Link" class="subButton">Ask</a>
                <div id="state">
                    <button id="stateText">Minimize All</button>
                </div>
                <div>
                    Number of questions: <span id="questionCount">@Model.Questions.Count()</span>
                </div>
            </div>
            <ul id="questionList">
                @foreach (var question in Model.Questions)
                {
                    <li>
                        <button class="border"></button>
                        <div id=@question.Id class="question panel">
                            <div class="titlePlace">
                                <p class="questionTitle">@question.Content</p>
                            </div>
                            <div class="dataPlace">
                                <span class="date">@question.DateAsked.ToLocalTime()</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/interrogatehub.js"></script>
    <script>
        (function () {
            var url = window.location.pathname;
            url = url.substring(url.lastIndexOf("/") + 1, url.length);

            var hub = new InterrogateHub();

            hub.onQuestionCount = (count) => {
                $("#questionCount").html(count);
            }

            hub.onNotifyList = (question) => {
                var date = new Date(Date.parse(question.dateAsked)).toLocaleString();
                var html = '<li>' +
                    '<button class="border"></button>' +
                    '<div id= + ' + question.id + ' class=question panel>' +
                    '<div class=titlePlace>' +
                    '<p class=questionTitle>' + question.content + '</p>' +
                    '</div>' +
                    '<div class=dataPlace>' +
                    '<span class=date>' + date + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</li>';
                $("#questionList").append(html);
            }
            hub.start(url);
        })();

        $("#sortby").on('click', function () {
            $('#questionList').children().each(element => {
                element.addClass('minimize');
            });
        });
        $("#state").on('click', function () {
            $('.question').toggleClass('minimize');
            $('.border').toggleClass("active");
            var text = $('#stateText').text();
            $('#stateText').text(
                text == "Minimize All" ? "Maximize All" : "Minimize All");
            $(this).find('i').toggle();
        });
        $(".border").each(function (index) {
            $(this).on("click", function () {
                $(this).toggleClass("active");
                $(this).next().toggleClass("minimize");
            });
        });
    </script> }